<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">#}
    {#{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}#}
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block body %}

{% endblock %}

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    {#<script src="{{ asset('js/jquery.js') }}"></script>#}
    <!-- Include all JavaScripts, compiled by Assetic -->
    {#<script src="{{ asset('js/bootstrap.js') }}"></script>#}
{% block javascripts %}
    {% javascripts '@bootstrap_js' '@bootstrap_js' filter='?yui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
