<h4>Last articles</h4>
<ul>
    {% for article in sidebar.bycreation %}
        <li><a href="{{ path('blog_post', {'slug': article.slug}) }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
<h4>Most viewed articles</h4>
<ul>
    {% for article in sidebar.byviewed %}
        <li><a href="{{ path('blog_post', {'slug': article.slug}) }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
<h4>Last posts from guestbook</h4>
<ul>
    {% for article in sidebar.posts %}
        <li><a href="{{ path('guest_book_index') }}">{{ article.title|slice(0, 35) }}...</a></li>
    {% endfor %}
</ul>
<h4>Tag cloud</h4>
<ul>
    {{ sidebar.cloud|raw }}
</ul>